<html lang="en">
<head>
    <meta charset='UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <title>MVC-Tech-Blog</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous'/>
    {{!-- <link rel='stylesheet' href='/css/style.css'/> --}}
    {{!-- add code to public/css/style.css --}}
</head>

<body>
    <div class='flex-column justify-space-around'>
        <header class='display-flex justify-space-between align-left p-2'>
            <h1><a id='welcome' href='/'>Welcome to the MVC Tech Blog</a></h1>
            <div class='nav justify-content-end'>
                <ul class='nav-item'>
                    <li class='nav-link'>
                        {{#if logged_in}}
                            <a class='dashboard' href='/dashboard'>Dashboard</a>
                            <button class='logout-btn' id='logout-btn'>Logout</button>
                            {{!-- write the code here that intitialies logout.js upon click of logout button --}}
                        {{else}}
                            <a class='login' href='/login'>Login</a>
                            <a class='signup' href='/signup'>Sign-up</a>
                        {{/if}}
                    </li>
                </ul>
            </div>
        </header>

        <main class='container-fluid mt-5'>
            {{{body}}}
        </main>

        <footer>
            <div class="maker-names">
                <p>*Made By Zach*</p>
            </div>
        </footer>
    </div>

    {{!-- check if this will always be present or if we call upon logout.js only??? --}}
    {{#if logged_in}}
        <script src='/js/logout.js'></script>
    {{/if}}

</body>
</html>