{{!-- THIS RENDERS THE BLOGPOST INPUT PAGE  '/blogpost_input' --}}
<div>
  <h2>Create a Post</h2>
</div>
<div id="form-div">
  <form class="form" id="form1">
    <p>
      <input name="title" type="text" placeholder="Title" id="title-input" />
    </p>
    <p>
      <textarea name="content" id="content-input" placeholder="Content"></textarea>
    </p>
    <div class="submit">
      <input type="submit" class="link btn" value="Post" id="BPbutton"/>
    </div>
  </form>
</div>

<script src="/js/blogpost.js"></script>