<div class="row">
    <div class="col-md-6">
        <h2>Login</h2>

        <form class="form login-form label-group">
            <div class="form-group">
                <label for="login-email">Email:</label>
                <input class="form-input" type="text" id="login-email" />
            </div>
            <div class="form-group label-group">
                <label for="login-password">Password:</label>
                <input class="form-input" type="password" id="login-password" />
            </div>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">Login</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h2>Sign-up</h2>

        <form class="form signup-form">
            {{!-- <div class="form-group label-group">
                <label for="name-signup">name:</label>
                <input class="form-input" type="text" id="name-signup" />
            </div> --}}
            <div class="form-group label-group">
                <label for="email-signup">Email:</label>
                <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group label-group">
                <label for="password-signup">Password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">Sign-up</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>